.teoria{
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2%;
    margin-bottom: 4%;
}
h1,h2,h3{
    padding-top: 4%;
    margin-bottom: 2%;
    color: #020887;
    text-transform: uppercase;
}
body{
    text-align: justify !important;
}
.contenedor-primra-ley-inercia, .contenedor-simulador-dos{
    width: 80%;
    border-radius: 5px;
    border: 3px solid #020887;
    height: 357px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-simulador-dos h1{
    color: rgba(2, 8, 135,.1);
    margin-top: 8%;
}
input[type=text] {
    border: 1px solid rgb(2, 8, 135);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: .4%;
}
.glowscript-canvas-wrapper{
    border: none !important;
    padding-top: 12%;
}
span{
    color: #020887;
    font-weight: 500;
}
.simulacion-p-l-mru{
    padding-top: 12%;
    padding-right: 1%;
}