#Respuesta-valor {
    font-family: sans-serif;
}

#Simulacion{
    border-radius: 10px;
    margin-top: 2%;
    border: 1px solid blue;
    width: 697px;
    height: 466px;
}
.Simulacion{
    margin-top: 2%;
}

.Respuesta {
    text-align: center;
    color: #020887;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 20px;
}

.Formulario {
    text-align: center;
    margin-bottom: 1%;
}

.vectorial {
    margin-bottom: 2%;
    text-decoration: underline;
}

.botocito {
    margin-top: 1%;
}

input[type=number],
input[type=text],
input[type=submit] {
    border: 1px solid #020887;
    border-radius: 10px;
    width: 15%;
    height: 40px;
    margin-left: 20px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=button] {
    margin-left: 20px;
    border: none;
    padding: 1% 5%;
    border-radius: 10px;
    background-color: #020887;
    color: white;
    cursor: pointer;
    transition: .2s;
}

input[type=button]:hover {
    scale: 1.1;
}

#Distancia::placeholder,
#T_i::placeholder,
#T_f::placeholder {
    text-align: center;
}

/* VELOCIDAD MEDIA VECTORES */

.GraficaSimV {
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    justify-content: center;
    display: flex;
    /* border: 2px solid red; */
    ;
}

#SimulacionV {
    border-radius: inherit;
    height: 450px;
    margin-right: 10px;
    width: 600px;
    border: 1px solid blue;
}

#plot {
    border-radius: inherit;
    border: 1px solid blue;
    margin-left: 2%;
}

.Salidas {
    /* text-align: center; */
    border: 1px solid blue;
    width: 300px;
    border-radius: inherit;
    margin-left: 10px;
    padding: 2.5%;
    font-size: small;
}

.Salidas h1 {
    text-align: center;
}

.FormularioV {
    display: flex;
    flex-direction: column;
    margin: 2%;
    justify-content: center;
    align-items: center;
}

.FormularioV .botocitoV {
    margin-left: 10%;
}

.botocitoV {
    margin: 0;
}

.EntradasV {
    /* border: 1px solid red; */
    display: flex;
}

.botones {
    margin-right: 6%;
    margin-top: 2%;
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

#aggv1,
#ResultadoV {
    padding: 6% 50%;
}

.vector1 h2,
.vector2 h2 {
    text-align: center;
}

hr {
    background-color: #020887;
    height: 1%;
    border: none;
    width: 90%;
    margin: auto;
}

.p_partida,
.p_llegada {
    width: 100%;
    margin: 2%;
    display: flex;
    flex-direction: row;
}

h6 {
    color: #020887;
    margin-top: 2.5%;
}

#ppx,
#ppy,
#pllx,
#plly,
#ppx2,
#ppy2,
#pllx2,
#plly2 {
    margin-bottom: 2%;
    align-self: center;
    width: 30%;
    margin-left: 20px;
    margin-right: 0px !important;
}

.entradasT {
    width: 30%;
    text-align: center;
    /* border: 1px solid red; */
}

.T_ini,
.T_fini {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.T_ini h6,
.T_fini h6 {
    color: #020887;
    margin-top: 2.5%;
}

#ti,
#tf {
    width: 40%;
    margin-bottom: 2%;
}

.logo p {
    font-size: 10px;
}

/* VELOCIDAD INSTANTANEA */
.GraficaSimVI {
    display: flex;
    margin: 2%;
}

#plotVI {
    border: 1px solid #020887;
    width: 550px;
    height: 451px;
    margin: 1.5%;
    border-radius: 10px;
}

#SimulacionVI {
    margin: 1.5%;
    height: 450px;
    width: 100%;
    border: 1px solid #020887;
    border-radius: 10px;
    display: flex;
}

.EntradasVI {
    width: 100%;
    display: flex;
    justify-content: center;
}

#eq,
#testudio,
#tfinal {
    margin-top: 2%;
    width: 70%;
}

#eq {
    display: flex;
    margin: auto;
    margin-top: 2%;
}

.Actions {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    gap: 10%
}

#DrawVector {
    padding: 12% 50%;
}

#ResultadoVI {
    padding: 10% 50%;
}

.botonesVI {
    /* border: 1px solid black; */
    display: inline-flex;
    gap: 60%;
    justify-content: space-between;
}
.SimulacionVI{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #020887;
    border-radius: 10px;
    align-items: center;
    margin: auto;
}
.SimulacionVI .glowscript-canvas-wrapper{
    padding: 2%;
    border: none !important;
    border-radius: 10px;
}
.SimulacionVI #graph0{
    padding-bottom: 31%;
}
.SimulacionVI .modebar, #plotVI .modebar{
    display: none;
}

