.teoriaFuera {
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2%;
    margin-bottom: 4%;
}

h1,
h2 {
    text-transform: uppercase;
    color: #020887;
    padding-bottom: 1%;
}

.Concepto {
    text-align: justify;
}

.Concepto span {
    color: #020887;
    font-weight: 500;
}

.tipos-de-fuerza ul {
    margin-left: 4%;
}

.tipos-de-fuerza li {
    list-style: decimal;
    margin-bottom: 2%;
}

.tipos-de-fuerza li h4 {
    text-transform: uppercase;
    color: #020887;
}

.simulacion-fuerzas {
    width: 80%;
    border-radius: 5px;
    border: 3px solid #020887;
    height: 357px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Vector1,
.Vector2,
.Vector3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    text-align: center;
    padding-bottom: 1.4%;
}

.Vector1 h4,
.Vector2 h4,
.Vector3 h4 {
    color: #020887;
    width: 20%;
}
.glowscript-canvas-wrapper{
  border: none !important;
  padding-top: 12%;
}
.simulacion-fuerzas h1{
    text-align: center;
    margin: auto !important;
    color: rgba(2, 8, 135,.1);
}
input[type=text] {
    border: 1px solid rgb(2, 8, 135);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: .4%;
}
input[type=button] {
    margin-left: 20px;
    border: none;
    padding: .7% 5%;
    border-radius: 10px;
    background-color: #020887;
    color: white;
    cursor: pointer;
    transition: .2s;
}
input[type=button]:hover {
    scale: 1.1;
}
.siguiente{
    margin-top: 4%;
    text-align: right;
    margin-bottom: 4%;
    cursor: pointer;
}
.siguiente a{
    font-weight: bold;
    cursor: pointer;
    color: gray;
    transform: 2;
}
.siguiente a:hover{
    font-size: 16.8px;
    transition: 0.2s ease;
    color: #020887;
}