.sig-ant {
    display: flex;
    justify-content: space-between;
}

.siguiente,
.anterior {
    margin-top: 4%;
    text-align: right;
    margin-bottom: 4%;
    cursor: pointer;
}

.siguiente a,
.anterior a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: gray;
    transform: 2;
}

.siguiente a:hover,
.anterior a:hover {
    font-size: 16.8px;
    transition: 0.2s ease;
    color: #020887;
}

#informacion {
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2.5%;
}

.Definicion {
    text-align: justify;
}

.conceptos-grafico {
    text-align: justify;
}

h1 {
    padding-top: 2%;
    text-transform: uppercase;
    color: #020887;
    /* padding-bottom: 2%; */
}

h2 {
    text-transform: uppercase;
    color: #020887;
}

h4 {
    color: #020887;
}

ul {
    margin-left: 4%;
}

.Definicion li {
    list-style: disc;
    padding: .5%;
}

.contendorGrafica1,
.contenedorv_vs_t,
.contenedorv_vs_t,
.contedora_vs_t,
.cotenedorcaidalibre,
.cotenedorcaidarampa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-top: 2%;
    border-radius: 5px;
    border: 3px solid #020887;
    height: 300px;
    margin-bottom: 4%;
}

.cotenedorcaidalibre {
    margin-top: 4%;
    height: 350px;
}

.grficap-vs-t h1,
.contenedorv_vs_t h1,
.contedora_vs_t h1,
.contenedorv_vs_t h2,
.simulacionCaidaLibre h1,
.simulacionCaidarampa h1 {
    color: rgba(2, 8, 135, .1);
}

.inputsp-vs-t,
.inputs-v-vs-t {
    text-align: center;
    /* border: 1px solid  #020887; */
    /* margin-top: -6%; */
    margin-left: 4%;
    margin-bottom: 4%;
}

input[type=text] {
    border: 2px solid rgb(2, 8, 135);
    border-radius: 5px;
    text-align: center;
    /* text-transform: uppercase; */
    padding: .4%;
}

table.GeneratedTable {
    width: 70%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #020887;
    border-style: solid;
    color: #020887;
    margin-right: 2%;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 2px;
    border-color: #020887;
    border-style: solid;
    padding: 3px;
    text-align: center;
}

.vi-vm {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

table.GeneratedTable thead {
    background-color: #ffffff;
}

.vi-pt {
    margin-top: 3%;
}

#vi-pt-dat {
    text-align: center;
    border: 2px solid #020887;
    border-radius: 2px;
    width: 100%;
    color: #020887;
}

#PosicionFinal {
    padding-top: 2%;
    text-align: center;
    text-transform: initial;
}

.glowscript-canvas-wrapper {
    border: none !important;
    padding: 2%;
}

.distanciavstiempocaidaL .glowscript-canvas-wrapper {
    display: none !important;
}

.contacto H4 {
    color: gray !important;
}

input[type=button] {
    margin-left: 20px;
    border: none;
    padding: 1% 5%;
    border-radius: 10px;
    background-color: #020887;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.glowscript-graph {
    margin-top: 2rem;
}

.datos-sim-ram {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#Ver_graficas {
    justify-content: center;
    align-items: center;
}

input[type=button]:hover {
    scale: 1.1;
}

.distanciavstiempocaidaL {
    width: 100%;
}

table {
    width: 100%;
    text-align: center;
    border: 2px solid #020887;
}

tr,
td {
    border: 2px solid #020887;
    padding: 5px;
}

.Entradas_caidaLibre input[type=text] {
    width: 20%;
}

.ver_analisis {
    display: flex;
    align-items: center;
    gap: 20px;

    & span {
        padding-top: 2%;
        color: #020887;
        font-weight: 500;
        text-decoration: underline;
        cursor: pointer;
    }
}

#Ver_analisis_rampa {
    /* margin-left: 20px;
    border: none;
    padding: .3% 7% !important;
    border-radius: 10px;
    background-color: #020887;
    color: white;
    cursor: pointer;
    transition: .2s; */
}